@page "/mudblazorstatic"
<PageTitle>MudBlazor Static</PageTitle>

<MudPage Row="3" FullScreen="FullScreen.FullWithoutAppbar">
    <MudSection Column="1" Class="pb-6" ColSpan="6" Row="1" RowSpan="1">
        <MudPaper Elevation="0" Class="d-flex align-center justify-center">
            <MudText Typo="Typo.h1">MudBlazor Static</MudText>
        </MudPaper>
    </MudSection>
    <MudSection Column="1" Class="pb-6" ColSpan="6" Row="2" RowSpan="1">

    </MudSection>
</MudPage>

<h3>MudBlazorStatic</h3>

@code {

}
